{% extends './base.html' %}
 
{% load static %}
{% block content %}
 <div class="wrapper">
    <!-- Sidebar -->
      {% include "./includes/sidebar.html" %}
   
    <div class="main-panel">
    <div class="main-header">
    <div class="main-header-logo">
       <!-- navbar -->
            {% include "./includes/navbar.html" %}
        </div>

    
    <!--main content-->
    <div class="container">
    <div class="page-inner">
    <div class="page-header">
    <h3 class="fw-bold mb-3 ms-3">Create Customers</h3>
    <ul class="breadcrumbs mb-3">
    <li class="nav-home">
    <a href="#">
    <i class="icon-home"></i>
    </a>
    </li>
    <li class="separator">
    <i class="icon-arrow-right"></i>
    </li>
    <li class="nav-item">
    <a href="customers.html">Customers</a>
    </li>

    <li class="nav-item"> 
    <a href="allitems.html"></a>
    </li>
    <li class="separator">
    <i class="icon-arrow-right"></i>
    </li>
    <li class="nav-item">
    <a href="#">Create Customers</a>
    </li>
    </ul>
    </div>
    <!-- ============add table start============= -->
    <div class="row">
    <div class="col-md-12">
    <div class="card">
    <div class="card-header">
    <div class="card-title">General Details</div>
    </div>
    <div class="card-body">
    <div class="row">
    <div class="col-md-6 col-lg-4">
    <div class="form-group">
    <label for="text">Business Name</label>
    <input
    type="text"
    class="form-control"
    id="text"
    placeholder=""
    />

    </div>
    </div>
    <div class="col-md-6 col-lg-4">
    <div class="form-group">
    <label for="text">Code</label>
    <input
    type="text"
    class="form-control"
    id="text"
    placeholder=""
    />

    </div>
    </div>
    <div class="col-md-6 col-lg-4">
    <div class="form-group">
    <label for="text">Contact Person</label>
    <input
    type="text"
    class="form-control"
    id="text"
    placeholder=""
    />

    </div>
    </div>
    <div class="col-md-6 col-lg-4">
    <div class="form-group">
    <label for="text">Mobile</label>
    <input
    type="text"
    class="form-control"
    id="text"
    placeholder=""
    />

    </div>
    </div>
    <div class="col-md-6 col-lg-4">
    <div class="form-group">
    <label for="email">Email</label>
    <input
    type="email"
    class="form-control"
    id="text"
    placeholder=""
    />

    </div>
    </div>
    </div>

    <!-- ==================2============= -->
    <div class="row">
    <div class="card-header">
    <div class="card-title">Other Details</div>
    </div>
    <div class="col-md-4 col-lg-4">


    <div class="form-group">
    <label for="exampleFormControlSelect1"
    >Route</label
    >
    <select
    class="form-select"
    id="exampleFormControlSelect1"
    >
    <option>Select Group</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    </select>
    </div>
    </div>
    <div class="col-md-4 col-lg-4">


    <div class="form-group">
    <label for="exampleFormControlSelect1"
    >Group</label
    >
    <select
    class="form-select"
    id="exampleFormControlSelect1"
    >
    <option>Select Group</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    </select>
    </div>
    </div>

    <div class="col-md-4 col-lg-4">
    <div class="form-group">
    <label for="text">Mobile</label>
    <input
    type="text"
    class="form-control"
    id="text"
    placeholder=""
    />

    </div>
    </div>
    <div class="col-md-4">
    <div class="form-group">

    <label for="name">Billing Address</label>
    <textarea
    class="form-control"
    aria-label="With textarea"
    ></textarea>
    </div> 

    </div>
    <div class="col-md-4">
    <div class="form-group">

    <label for="name">Shipping Address</label>
    <textarea
    class="form-control"
    aria-label="With textarea"
    ></textarea>
    </div> 

    </div>

    <div class="col-md-4 col-lg-4">
    <div class="form-group">
    <label for="text">GSTIN</label>
    <input
    type="text"
    class="form-control"
    id="text"
    placeholder=""
    />

    </div>
    </div>
    <div class="col-md-4 col-lg-4">
    <div class="form-group">
    <label for="text">Opening Balance</label>
    <div class="input-group mb-3">
    <span class="input-group-text">$</span> <input type="text" class="form-control" placeholder="" name="text">

    </div>

    </div>
    </div>




    <div class="col-md-4 col-lg-4">
    <div class="form-group">
    <label for="text">Credit Period</label>
    <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Create Period" name="text">
    <span class="input-group-text">Days</span>
    </div>

    </div>
    </div>
    <div class="col-md-4 col-lg-4">
    <div class="form-group">
    <label for="text">Credit Limit </label>
    <div class="input-group mb-3">
    <span class="input-group-text">$</span> <input type="text" class="form-control" placeholder="Credit Limit" name="text">

    </div>

    </div>
    </div>

    <div class="col-md-6 col-lg-4">
    <div class="form-group">
    <label for="text">Credit Bill Limit </label>
    <input
    type="text"
    class="form-control"
    id="text"
    placeholder=""
    />

    </div>
    </div>
    <div class="col-md-4 col-lg-4">


    <div class="form-group">
    <label for="exampleFormControlSelect1"
    >State Of Supply</label
    >
    <select
    class="form-select"
    id="exampleFormControlSelect1"
    >
    <option>Select State</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    </select>
    </div>
    </div>
    </div>

    <!-- ============thirt============= -->
    <div class="row">
    <div class="card-header">
    <div class="card-title">Documents</div>
    </div>
    <div class="col-md-6 col-lg-4">

    <div class="form-group">
    <label for="exampleFormControlFile1"
    >Upload images</label
    >
    <input
    type="file"
    class="form-control-file"
    id="exampleFormControlFile1"
    />
    </div>  
    </div>
    </div>        
    </div>      
    <div class="card-action">
    <button class="btn btn-success">Submit</button>
    <button class="btn btn-danger">Cancel</button>
    </div>
    </div>
    </div>
    </div>



    {% include "./includes/footer.html" %}
      </div>
      <!-- custom template setting -->
      {% include "./includes/template_setting.html" %}
    </div>

    {% endblock %}

  