{% extends './base.html' %} 
{% load static %} 
{% block content %}

<div class="wrapper">
<!-- Sidebar -->
{% include "./includes/sidebar.html" %}

<div class="main-panel">
<div class="main-header" style="background: content-box !important">
<div class="main-header-logo">
<!-- navbar -->
{% include "./includes/navbar.html" %}
</div>

<!--main content-->

<div class="container">
<div class="row">
<div class="">
<h3 class="fw-bold ms-3 ps-3 pt-3 mb-4">Claim Request</h3>
<div class="page-header mt-1">
<div class="col-md-9">
<ul class="breadcrumbs mb-3">
<li class="nav-home">
<a href="{%url 'ajserp:dashboard'%}">
<i class="icon-home"></i>
</a>
</li>
<li class="separator">
<i class="icon-arrow-right"></i>
</li>
<li class="nav-item">
<a href="#">Claim Request</a>
</li>
<li class="separator">
<i class="icon-arrow-right"></i>
</li>
<li class="nav-item">
<a href="#">Claim Request</a>
</li>
</ul>
</div>
</div>

<!-- Header Inputs -->
<div class="container-fluid">
<div class="col-md-12">
<div class="card">
<div class="">
<div class="card-body" style="padding: 1.25rem">
<div class="card p-4">
  <div class="row mb-4">
    <div class="col-md-3">
      <label class="form-label">Document Number</label>
      <input
        type="text"
        class="form-control form-control-sm"
      />
    </div>

    <div class="col-md-3">
      <label class="form-label">Requested by</label>
      <input
        type="text"
        class="form-control form-control-sm"
      />
    </div>

    <div class="col-md-3">
      <label for="fromDate" class="form-label"
        >From date</label
      >
      <input
        type="date"
        name="from_date"
        id="fromDate"
        class="form-control"
      />
    </div>
    <div class="col-md-3">
      <label for="fromDate" class="form-label"
        >To date</label
      >
      <input
        type="date"
        name="from_date"
        id="fromDate"
        class="form-control"
      />
    </div>
  </div>
</div>

<!-- Table -->
<div class="table-responsive">
  <table
    class="table table-bordered table-sm text-center align-middle"
  >
    <thead class="table-light">
      <tr>
        <th>S.NO</th>
        <th>Type</th>
        <th>UOM</th>
        <th>Quantity</th>
        <th>Amount</th>
        <th>Remarks</th>
        <th>Upload Document</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <!-- Row 1 -->
      <tr>
        <td>1</td>
        <td style="padding: 8px 2px !important">
          <select class="form-select form-select-sm">
            <option>Petrol</option>
            <option>Diesel</option>
            <option>Oil</option>
          </select>
        </td>
        <td>
          <input
            type="text"
            class="form-control form-control-sm" style="border:none" 
          />
        </td>
        <td>
          <input
            type="number"
            class="form-control form-control-sm" style="border:none" 
          />
        </td>
        <td>
          <input
            type="text"
            class="form-control form-control-sm" style="border:none" 
          />
        </td>
        <td>
          <input
            type="text"
            class="form-control form-control-sm" style="border:none" 
          />
        </td>
        <td>
          <input
            type="file"
            class="form-control form-control-sm" 
          />
           </td>
           <td>
          <button
            type="button"
            class="btn btn-sm btn-danger delete-row"
          >
            X
          </button>
        </td>
        </tr>


      <!-- Row 2 -->
      <tr>
        <td>2</td>
        <td style="padding: 8px 2px !important">
          <select class="form-select form-select-sm">
            <option>Petrol</option>
            <option>Diesel</option>
            <option>Oil</option>
          </select>
        </td>
        <td>
          <input
            type="text"
            class="form-control form-control-sm" style="border:none" 
          />
        </td>
        <td>
          <input
            type="number"
            class="form-control form-control-sm" style="border:none" 
          />
        </td>
        <td>
          <input
            type="text"
            class="form-control form-control-sm" style="border:none" 
          />
        </td>
        <td>
          <input
            type="text"
            class="form-control form-control-sm" style="border:none" 
          />
        </td>
        <td>
          <input
            type="file"
            class="form-control form-control-sm"
          />
        </td>
        <td>
          <button
            type="button"
            class="btn btn-sm btn-danger delete-row"
          >
            X
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Add Line Button -->
<button
  type="button"
  id="addLineBtn"
  class="btn btn-link btn-sm mt-2"
>
  + Add Line
</button>
<button type="button" class="btn btn-danger float-end me-2" style="width: 91px; height: 36px; padding-left: 6px"  onclick="history.back()" >Cancel</button>
<button type="button" class="btn btn-primary float-end me-2" style="width: 91px; height: 36px; padding-left: 6px"  onclick="history.back()" >Clear</button>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<!-- End Main Body -->

<!-- Footer -->
{% include "./includes/footer.html" %}
</div>
<!-- custom template setting -->
{% include "./includes/template_setting.html" %}
</div>
</div>
{% endblock %}