{% extends './base.html' %} {% load static %} {% block content %}

<div class="wrapper">
  <!-- Sidebar -->
  {% include "./includes/sidebar.html" %}

  <div class="main-panel">
    <div class="main-header" style="background: content-box !important">
      <div class="main-header-logo">
        <!-- navbar -->
        {% include "./includes/navbar.html" %}
      </div>

      <!--main content-->
      <div class="container">
        <div class="page-inner ps-2 pe-2">
          <div class="page-header">
            <h3 class="fw-bold mb-3 ms-2">Update Price</h3>
            <ul class="breadcrumbs mb-3">
              <li class="nav-home">
                <a href="{%url 'ajserp:dashboard'%}">
                  <i class="icon-home"></i
                ></a>
              </li>
              <li class="separator"><i class="icon-arrow-right"></i></li>
              <li class="nav-item">Inventory</li>
              <li class="separator"><i class="icon-arrow-right"></i></li>
              <li class="nav-item"><a href="pricelists.html">Price</a></li>
              <li class="separator"><i class="icon-arrow-right"></i></li>
              <li class="nav-item"><a href="#">Update Price</a></li>
            </ul>
          </div>

          <!-- Selection Filter Card -->
          <div class="card mt-4">
          <div class="card-header d-flex justify-content-between align-items-center">
    <div class="card-title mb-0">Selection</div>
    <div>
      <button class="btn btn-success btn-sm me-2" style="width: 91px; height: 36px; padding-left: 6px">Save</button>
      {% comment %} <button class="btn btn-danger btn-sm" style="width: 91px; height: 36px; padding-left: 6px">Cancel</button> {% endcomment %}
      <button type="button" class="btn btn-danger" style="width: 91px; height: 36px; padding-left: 6px"  onclick="history.back()" >Cancel</button>
    </div>
            </div>
            
            <div class="card-body">
              <!-- Simple GET form -->
              <!-- Action Buttons -->
             
              <div class="row mb-2">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Material code</label>
                    <input
                      type="text"
                      name="material_code"
                      class="form-control"
                     
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Material Name</label>
                    <input
                      type="text"
                      name="material_name"
                      class="form-control"
                     
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Category</label>
                    <input
                      type="text"
                      name="category"
                      class="form-control"
                     
                    />
                  </div>
                </div>
               
                <div class="col-md-3">
                  <label>Status</label><br />
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="status"
                    />
                    <label class="form-check-label">Active</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="status"
                    />
                    <label class="form-check-label">Inactive</label>
                  </div>
                </div>
                 <div class="col-md-3">
                  <div class="form-group">
                    <label>Model</label>
                    <input
                      type="text"
                      name="model"
                      class="form-control"
                     
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>From date</label>
                    <input type="date" name="from_date" class="form-control" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>To date</label>
                    <input type="date" name="to_date" class="form-control" />
                  </div>
                </div>
              </div>
            </div>

            <!-- Table Card -->
            <div class="mt-7">
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered table-sm text-center align-middle"
                  >
                    <div class="col-md-8 d-flex align-items-end mb-4">
                      <div class="input-group" style="width: 200px">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Search here..."
                          aria-label="Search"
                        />
                        <button class="btn btn-primary" type="button">
                          Search
                        </button>
                      </div>
                    </div>

                    <thead class="table-light">
                      <tr>
                        <th>Material&nbsp;code</th>
                        <th style="padding: 7px 90px !important;">Material&nbsp;Name</th>
                        <th>UOM</th>
                        <th>Category</th>
                        <th>Model</th>
                        <th>Brand</th>

                        <th style="padding: 12px 44px !important;">MRP</th>
                        <th>Selling&nbsp;Price</th>
                        <th>From&nbsp;date</th>
                        <th>To&nbsp;date</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>001</td>
                        <td>Item A</td>
                        <td>PCS</td>
                        <td>Tools</td>
                        <td>Model X</td>
                        <td>Brand Y</td>

                        <td style="padding: 6px 8px !important;">
                          <input
                            type="text"
                            name="materialname"
                            class="form-control"
                            placeholder=""
                          />
                        </td>
                        <td>
                          <input
                            type="text"
                            name="materialname"
                            class="form-control"
                            placeholder=""
                          />
                        </td>
                        <td style="padding: 4px 19px !important;">
                          <input
                            type="text"
                            name="materialname"
                            class="form-control"
                            placeholder="12/2/1233"
                          />
                        </td>
                        <td style="padding: 6px 7px !important;">
                          <input
                            type="text"
                            name="materialname"
                            class="form-control"
                            placeholder="33/3/2342"
                          />
                        </td>
                        <td style="padding: 9px 0px !important">
                          <select
                            class="form-select"
                            style="background-color: #d4edda"
                          >
                            <option selected>Active</option>
                            <option style="background-color: #f8d7da">
                              Inactive
                            </option>
                          </select>
                        </td>
                        <td>
<div class="form-button-action">
<button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
<i class="fa fa-edit"></i>
</button>
                      </tr>
                      <!-- Add more rows as needed -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
          <!-- Footer -->
          {% include "./includes/footer.html" %}
        </div>
    <!-- custom template setting -->
  {% include "./includes/template_setting.html" %}
  </div>
</div>

  {% endblock %}