{% extends './base.html' %}

  {% load static %}
  {% block content %}
  <div class="wrapper">
  <!-- Sidebar -->
  {% include "./includes/sidebar.html" %}

  <div class="main-panel">
  <div class="main-header" style="background:content-box !important;"
>
  <div class="main-header-logo">
  <!-- navbar -->
  {% include "./includes/navbar.html" %}
  </div>


  <!--main content-->
  <div class="container">
  <div class="page-inner ps-2 pe-2">
  <div class="page-header">
  <h3 class="fw-bold mb-3 ms-2">Create warehouse</h3>
  <ul class="breadcrumbs mb-3">
  <li class="nav-home">
  <a href="{%url 'ajserp:dashboard'%}">
  <i class="icon-home"></i>
  </a>
  </li>
  <li class="separator">
  <i class="icon-arrow-right"></i>
  </li>
  <li class="nav-item">
  Inventory</a>
  </li>
  <li class="separator">
  <i class="icon-arrow-right"></i>
  </li>

  <li class="nav-item">
  <a href="warehouse.html">warehouse</a>
  </li>
  <li class="separator">
  <i class="icon-arrow-right"></i>
  </li>
  <li class="nav-item">
  <a href="#">Create warehouse</a>
  </li>
  </ul>
  </div>

  <!-- ============form Details============= -->

  <div class="row">
  <div class="col-md-12 col-sm-12">
  <div class="card">
  <div class="card-header">
  <div class="card-title">Warehouse</div>
  </div>

   <!-- ADD FORM TAGS -->
  <form method="post">
  {% csrf_token %}
  <div class="card-body">
  <div class="row">
  <div class="col-md-4">
  <div class="form-group">
  <label for="text">Warehouse Code</label>
  <input type="text" class="form-control" id="smallInput" name="warehouse_code"/>
  </div>
  </div>
  <div class="col-md-4">
  <div class="form-group">
  <label for="text">Warehouse Name</label>
  <input type="text" class="form-control" id="Mobile" name="warehouse_name"/>
  </div>
  </div>
  <div class="col-md-4">
 <div class="form-group">
<label for="text">Contact Number</label>
<div class="input-group">
<select class="form-select" id="countryCode" style="max-width: 100px;">
<option value="+91" selected>+91</option>
<option value="+1">+1</option>
<option value="+44">+44</option>
<option value="+61">+61</option>
<option value="+81">+81</option>
<!-- Add more country codes as needed -->
</select>
<input type="text" class="form-control" id="phoneNumber" name="contact_number" placeholder="" />
</div>
</div>
  </div>
  <div class="col-md-4">
  <div class="form-group">
  <label for="email2">Email Address</label>
  <input type="email" class="form-control" id="email2" name="email_address"/>
  </div>
  </div>
 <div class="col-md-4">
  <div class="form-group">
  <label for="exampleFormControlSelect1" >State Of Supply</label>
  <select class="form-select" id="exampleFormControlSelect1" name="state_of_supply">
  <option>Rajashthan</option>
  <option>Tamilnadu</option>
  <option>kerala</option>
  </select>
  </div>
  </div>  
  <div class="col-md-4">
  <div class="form-group">
  <label for="text">GST Number</label>
  <input type="text" class="form-control" id="text"  name="gst_number" placeholder=""/> 
  </div>
  </div>
  </div>

<div class="mt-4 ms-2 row">
  <div class="col-md-6">
  <div class="mb-3 row">
  <label for="text" class="col-md-3 col-form-label">Address 1</label>
  <div class="col-md-8">
  <input type="text" class="form-control" id="text"  name="address1">
  </div>
  </div>
  <div class="mb-3 row">
  <label for="text" class="col-md-3 col-form-label">Address 2</label>
  <div class="col-md-8">
  <input type="text" class="form-control" id="text"  name="address2">
  </div>
  </div>
   <div class="mb-3 row">
  <label for="text" class="col-md-3 col-form-label">City</label>
  <div class="col-md-8">
  <input type="text" class="form-control" id="text"  name="city">
  </div>

  </div>
  <div class="mb-3 row">
  <label for="exampleFormControlSelect1" class="col-md-3 col-form-label">State</label>
  <div class="col-md-8">
  <select class="form-select" id="exampleFormControlSelect1" name="state">
  <option>Select State</option>
  <option></option>
  </select>
  </div>
  </div>
  <div class="mb-3 row">
  <label for="exampleFormControlSelect1" class="col-md-3 col-form-label">Country</label>
  <div class="col-md-8">
  <select class="form-select" id="exampleFormControlSelect1" name="country">
  <option>Select Country</option>
  <option></option>
  </select>
  </div>
  </div>
  <div class="mb-3 row">
  <label for="pwd" class="col-md-3 col-form-label">Postal Code</label>
  <div class="col-md-8">
  <input type="text" class="form-control" id="text"  name="postal_code">
  </div>
  </div>
  </div>

 <div class="col-md-4 offset-md-2">
  <div class="form-group">
  <label for="name"> Description</label>
  <textarea class="form-control" aria-label="With textarea" name="description"></textarea>
  </div> 
  </div>
  </div>
  <div class="card-action text-end">
  <button class="btn btn-success" style="width:91px;height: 36px;padding-left: 6px;">Submit</button>
  {% comment %} <button class="btn btn-danger" style="width:91px;height: 36px;padding-left: 6px;" >Cancel</button> {% endcomment %}
  <button type="button" class="btn btn-danger" style="width: 91px; height: 36px; padding-left: 6px"  onclick="history.back()" >Cancel</button>
  </div>
  </div>

  </form>
  <!-- END FORM -->
  </div>
  </div>
  </div>



  <!-- =============================footer========================== -->
  {% include "./includes/footer.html" %}
  </div>
  <!-- custom template setting -->
  {% include "./includes/template_setting.html" %}
  </div>

  {% endblock %}