{% extends './base.html' %}

{% load static %}

{% block content %}

  <div class="wrapper">
    <!-- Sidebar -->
      {% include "./includes/sidebar.html" %}
    

    <!-- End Sidebar -->

    <div class="main-panel">
       <div class="main-header" style="background:content-box !important;"
>
          <div class="main-header-logo">
            <!-- navbar -->
            {% include "./includes/navbar.html" %}
        </div>
      

      
      <!-- Main Body -->
      <div class="container">
      <div class="row">
        <div class="page-inner">
            <h3 class="fw-bold mb-3 ms-3">Creditnote</h3>
            <div class="page-header">
    <div class="col-md-8">

    <ul class="breadcrumbs mb-3">
    <li class="nav-home">
    <<a href="{%url 'ajserp:dashboard'%}">
    <i class="icon-home"></i>
    </a>
    </li>
    <li class="separator">
    <i class="icon-arrow-right"></i>
    </li>
    <li class="nav-item">
    <a href="#">Sales</a>
    </li>
    <li class="separator">
    <i class="icon-arrow-right"></i>
    </li>
    <li class="nav-item">
    <a href="#">Estimate</a>
    </li>
    </ul>
    </div>

    <div class="col-md-4">
    <p class="demo">
    <button class="btn btn-warning btn-round dropdown-toggle" data-bs-toggle="dropdown" style="color:white;">
    Export
    <ul class="dropdown-menu import_1">
    <li><a class="dropdown-item" href="#">Excel</a></li>
    <li><a class="dropdown-item" href="#">Pdf</a></li>
    </ul>
    </button> 
    <button
    type="button"
    data-bs-toggle="modal" data-bs-target="#myModalimport"
    title=""
    class="btn btn-success btn-round"
    data-original-title=""
    >
    Import
    </button>
    <!-- Create purchase order -->
                      <a href="{%url 'ajserp:commonform'%}" class="btn btn-primary btn-round">Add Item </a>
                    </div>
                  </div>
                </div>
              </div>
<div class="table-responsive">
         <div id="add-row_wrapper"  class="dataTables_wrapper container-fluid dt-bootstrap4">
            <div class="row">
               <div class="col-sm-12 col-md-6">
                  <div class="dataTables_length" id="add-row_length">
                     <label
                        >Show
                        <select
                           name="add-row_length"
                           aria-controls="add-row"
                           class="form-control form-control-sm"
                        >
                           <option value="10">10</option>
                           <option value="25">25</option>
                           <option value="50">50</option>
                           <option value="100">100</option>
                        </select>
                        entries</label
                     >
                  </div>
               </div>
                <div class="col-sm-12 col-md-6 text-end">
                  <div id="add-row_filter" class="dataTables_filter">
                     <label class="text-start"
                        >Search  :<input
                           type="search"
                           class="form-control form-control-sm"
                           placeholder=""
                           aria-controls="add-row"
                     /></label>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <table
                     id="add-row"
                     class="display table table-striped table-hover dataTable table-bordered  "
                     role="grid"
                     aria-describedby="add-row_info"
                  >
                     <thead>
                        <tr role="row">
                           <th
                              class="sorting_asc"
                              tabindex="0"
                              aria-controls="add-row"
                              rowspan="1"
                              colspan="1"
                              aria-sort="ascending"
                              aria-label="Name: activate to sort column descending"
                              style="width: 224.477px"
                           >
                              Name
                           </th>
                           <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="add-row"
                              rowspan="1"
                              colspan="1"
                              aria-label="Position: activate to sort column ascending"
                              style="width: 328.867px"
                           >
                              Position
                           </th>
                           <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="add-row"
                              rowspan="1"
                              colspan="1"
                              aria-label="Office: activate to sort column ascending"
                              style="width: 182.969px"
                           >
                              Office
                           </th>
                           <th
                              style="width: 120.688px"
                              class="sorting"
                              tabindex="0"
                              aria-controls="add-row"
                              rowspan="1"
                              colspan="1"
                              aria-label="Action: activate to sort column ascending"
                           >
                              Action
                           </th>
                        </tr>
                     </thead>
                     <!--<tfoot>-->
                        
                     <!--</tfoot>-->
                     <tbody>
                        <!--<tr role="row" class="odd">-->
                           <td>Airi Satou</td>
                           <td>Accountant</td>
                           <td>Tokyo</td>
                           <td>
                              <div class="form-button-action">
                                 <!-- <button type="button" onclick="location.href='/cinvoves'" data-bs-toggle="tooltip" title="" class="btn btn-link btn-lg" style="color: #6f42c1;" data-original-title="View Table">
                                   <i class="fa fa-eye" aria-hidden="true"></i>
                                </button> -->
                                 <button
    type="button"
    data-bs-toggle="modal" data-bs-target="#myModalitems"
    title=""
    class="btn btn-link btn-secondary btn-lg"
    data-original-title="View Task"
    >
    <i class="fa fa-eye" aria-hidden="true"></i>
    </button>
                               
<!-- Modal -->
 <div class="modal fade" id="myModalitems">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
    <h4 class="modal-title"></h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>

    <!-- Modal body -->

    <div class="row">
    <div class="col-md-12">
    <div class="card">
    <div class="card-header">
    <div class="card-title">General Details</div>
    </div>
    <div class="card-body">
    <div class="row">
    <div class="col-md-6 col-lg-4">
    <div class="form-group">
    <label for="text">Item Name</label>
    <input type="text" class="form-control" id="text" placeholder="powerbrand" readonly="">

    </div>

    <div class="form-group">
    <label for="exampleFormControlSelect1">Select Unit</label>
    <select class="form-select" id="exampleFormControlSelect1" disabled="">
    <option>BAGS</option>
    <option>BOX</option>
    <option>BUCKETS</option>
    <option>BOTTLES</option>
    <option>BUNCHES</option>
    </select>
    </div>       
    <div class="form-group">
    <label for="name">Item Description</label>
    <textarea class="form-control" aria-label="With textarea" placeholder="good product" readonly=""></textarea>
    </div> 
    </div>

    <!-- ==================2============= -->

    <div class="col-md-6 col-lg-4">
    <div class="form-group">
    <label for="text">Item Code</label>
    <input type="text" class="form-control" id="text" placeholder="129" readonly/>

    </div>
    <div class="form-group">
    <label for="exampleFormControlSelect1">Select Warehouse</label>
    <select class="form-select" id="exampleFormControlSelect1" disabled="">
    <option>tech</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    </select>
    </div>

    <div class="form-group">
    <label for="exampleFormControlSelect1">Sell Price</label>
    <span class="input-group mb-3">
    <span class="input-group-text">$</span> 
    <input type="text" class="form-control" placeholder="100" readonly="" name="text">
    <select class="form-select" id="exampleFormControlSelect1" disabled="">
    <option>Excl .of Tax</option>
    <option>Incl.of Tax</option>

    </select>
    </span>
    </div>
    <div class="input-group-append">
    </div>
    </div>

    <!-- ============thirt============= -->
    <div class="col-md-6 col-lg-4">
    <div class="form-group">
    <label for="exampleFormControlSelect1">Select Category</label>
    <select class="form-select" id="exampleFormControlSelect1" disabled="">
    <option>BAGS</option>
    <option>BOX</option>
    <option>BUCKETS</option>
    <option>BOTTLES</option>
    <option>BUNCHES</option>
    </select>
    </div>                     
    <div class="form-group">
    <label for="exampleFormControlSelect1">Select Brand</label>
    <select class="form-select" id="exampleFormControlSelect1" disabled="">
    <option>solar</option>

    <option>BUCETS</option>
    <option>BOTTLES</option>
    <option>BUNCHES</option>
    </select>
    </div>     
    <div class="form-group">
    <label for="exampleFormControlFile1">Upload images</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>                


    </div>
    <!-- =============price details============ -->
    <div class="card-header">
    <div class="card-title">Price Details</div>
    </div>

    <div class="row">
    <div class="col-md-4">
    <div class="form-group">
    <label for="mrp">MRP</label>
    <input type="text" class="form-control" id="mrp" placeholder="1200" readonly="">

    </div>
    </div>
    <div class="col-md-4">
    <div class="form-group">
    <label for="exampleFormControlSelect1">Purchase Price</label>
    <span class="input-group mb-3">
    <span class="input-group-text">$</span> 
    <input type="text" class="form-control" placeholder="800" readonly="" name="text">
    <select class="form-select" id="exampleFormControlSelect1" disabled="">
    <option>Excl .of Tax</option>
    <option>Incl.of Tax</option>
    </select> 
    </span>
    </div>
    </div>

    <div class="col-md-4">
    <div class="form-group">
    <label for="code">HSN Code</label>
    <input type="text" class="form-control" id="code" placeholder="8762" readonly="">

    </div>
    </div>
    </div>

    <div class="row">
    <div class="col-md-4">
    <div class="form-group">
    <label for="exampleFormControlSelect1">GST%</label>
    <select class="form-select" id="exampleFormControlSelect1" disabled="">
    <option>select Tax</option>
    <option>GST @ 4%</option>
    <option>GST @ 9%</option>
    <option>GST @ 6%</option>
    <option>GST  @ 4%</option>
    </select>
    </div>
    </div>  
    <div class="col-md-4">                 
    <div class="form-group">
    <label for="exampleFormControlSelect1">Cess %</label>
    <select class="form-select" id="exampleFormControlSelect1" disabled="">
    <option>Select Cess</option>
    <option>Cess @ 12%</option>
    <option>Cess @ 12%</option>
    </select>
    </div>                     
    </div>
    <div class="col-md-4">
    <div class="form-group">
    <label for="exampleFormControlSelect1">Discount</label>
    <span class="input-group mb-3">
    <input type="text" class="form-control" placeholder="3%" readonly="" name="text">
    <select class="form-select" id="exampleFormControlSelect1" disabled="">
    <option>Amount</option>
    <option>Percent</option>
    </select>
    </span>
    </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="form-group">
    <label for="text">Offer text</label>
    <input type="text" class="form-control" id="text" placeholder="12%" readonly="">

    </div>
    </div>
    </div>

    <!-- ==============stack detail================== -->

    <div class="card-header">
    <div class="card-title">stock Details</div>
    </div>

    <div class="row">
    <div class="col-md-4">
    <div class="form-group">
    <label for="text">Stock</label>
    <input type="text" class="form-control" id="text" placeholder="yes" readonly/>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
    </div>
    </div>
    </div>
    </div>
    <button
    type="button"
    data-bs-toggle="tooltip"
    title=""
    class="btn btn-link btn-primary btn-lg"
    data-original-title="Edit Task"
    >
    <i class="fa fa-edit"></i>
    </button>

    <button
    type="button"
    data-bs-toggle="modal" data-bs-target="#myModaldelete"
    title=""
    class="btn btn-link btn-danger"
    data-original-title="Remove"
    >
    <i class="fa fa-times"></i>
    </button>
   
    <!-- The Modal -->
    <div class="modal fade" id="myModaldelete">
    <div class="modal-dialog">
    <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
    <h4 class="modal-title"></h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
    <div class="container" style="text-align: center;">
    <h2>Delete Confirmation</h2><br>
    <p>Are you sure you want to delete this items account?</p></div>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer"style="display:inline; text-align:center;">
    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Yes</button>
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
    </div>

    </div>
    </div>
    </div>
    
    </td>
    </tr>

    <tr>
    <td>santosh</td>
    <td>Accountant</td>
    <td>India</td>
    <td>
    <div class="form-button-action">
    <button
    type="button"
    data-bs-toggle="modal" data-bs-target="#myModalitems"
    title=""
    class="btn btn-link btn-secondary btn-lg"
    data-original-title="Edit Task"
    >
    <i class="fa fa-eye" aria-hidden="true"></i>
    </button>
    <button
    type="button"
    data-bs-toggle="tooltip"
    title=""
    class="btn btn-link btn-primary btn-lg"
    data-original-title="Edit Task"
    >
    <i class="fa fa-edit"></i>
    </button>

    <button
    type="button"
    data-bs-toggle="tooltip"
    title=""
    class="btn btn-link btn-danger"
    data-original-title="Remove"
    >
    <i class="fa fa-times"></i>
    </button>

    </div>
    </td>
    </tr>
</tbody>
</table>
<div class="col-sm-12 col-md-7">
                  <div
                     class="dataTables_paginate paging_simple_numbers"
                     id="add-row_paginate"
                  >
                     <ul class="pagination">
                        <li
                           class="paginate_button page-item previous disabled"
                           id="add-row_previous"
                        >
                           <a
                              href="#"
                              aria-controls="add-row"
                              data-dt-idx="0"
                              tabindex="0"
                              class="page-link"
                              >Previous</a
                           >
                        </li>
                        <li class="paginate_button page-item active">
                           <a
                              href="#"
                              aria-controls="add-row"
                              data-dt-idx="1"
                              tabindex="0"
                              class="page-link"
                              >1</a
                           >
                        </li>
                        <li class="paginate_button page-item">
                           <a
                              href="#"
                              aria-controls="add-row"
                              data-dt-idx="2"
                              tabindex="0"
                              class="page-link"
                              >2</a
                           >
                        </li>
                        <li
                           class="paginate_button page-item next"
                           id="add-row_next"
                        >
                           <a
                              href="#"
                              aria-controls="add-row"
                              data-dt-idx="3"
                              tabindex="0"
                              class="page-link"
                              >Next</a
                           >
                        </li>
                     </ul>
                  </div>
               </div>


              
       <!-- End Main Body -->
           <!-- Footer -->
       {% include "./includes/footer.html" %}
      </div>
      <!-- custom template setting -->
      {% include "./includes/template_setting.html" %}
    </div>
   
    
     {% endblock %}



    

   