{% extends './base.html' %} {% load static %} {% block content %}
<div class="wrapper">
<!-- Sidebar -->
{% include "./includes/sidebar.html" %}

<div class="main-panel">
<div class="main-header" style="background: content-box !important">
<div class="main-header-logo">
<!-- navbar -->
{% include "./includes/navbar.html" %}
</div>

<!--main content-->

<div class="container">
<div class="row">
<div class="">
<h3 class="fw-bold ms-3 ps-3">Purchase Return</h3>
<div class="page-header mb-0">
<div class="col-md-9 col-sm-8">
<ul class="breadcrumbs mb-2">
<li class="nav-home">
<a href="{%url 'ajserp:dashboard'%}">
<i class="icon-home"></i>
</a>
</li>
<li class="separator">
<i class="icon-arrow-right"></i>
</li>
<li class="nav-item">
<a href="#">Purchase</a>
</li>
<li class="separator">
<i class="icon-arrow-right"></i>
</li>
<li class="nav-item">
<a href="#">Purchase Return</a>
</li>
</ul>
</div>
<div class="col-md-5">
<p class="demo">
<button
type="button"
data-bs-toggle="modal"
data-bs-target="#myModalimport"
title=""
class="btn btn-success btn-round"
data-original-title=""
style="width: 91px; height: 36px"
>
Import
</button>
<a
href="{%url 'ajserp:addpurchasereturn'%}"
class="btn btn-primary btn-round"
style="width: 91px; height: 36px; padding-left: 6px"
>Add</a
>
</p>
</div>
</div>
</div>
</div>

<!-- ================================= table start======================== -->

<div class="container-fluid">
<div class="col-md-12">
<div class="card">
<div class="">
<div class="card-body" style="padding: 1.25rem">
<div class="container mt-3">
  <div class="card p-4"> 
    <!-- First Row: Filters + Search Button -->
    <div class="row g-3 align-items-end mb-2">
      <!-- Material Code -->
      <div class="col-md-2">
        <input type="text" class="form-control" placeholder="Purchaseorder No..." aria-label="Search">
      </div>

      <!-- Material Name -->
      <div class="col-md-2">
        <input type="text" class="form-control" placeholder="Suplier Name..." aria-label="Search">
      </div>

      

      <!-- Model -->
      <div class="col-md-2">
        <select class="form-select" id="statusSelect">
        <option selected>Select Status</option>
        <option>Active</option>
        <option>Draft</option>
      </select>
      </div>

      <!-- Search Button -->
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary w-100">Search</button>
      </div>
    </div>

    <!-- Second Row: Only Dates -->
    <div class="row g-3">
      <!-- From Date -->
      <div class="col-md-2">
        <label for="fromDate" class="form-label">From date</label>
        <input type="date" name="from_date" id="fromDate" class="form-control">
      </div>

      <!-- To Date -->
      <div class="col-md-2">
        <label for="toDate" class="form-label">To date</label>
        <input type="date" name="to_date" id="toDate" class="form-control">
      </div>
    </div>
  </div>
</div>
{% comment %} ============================table
start============ {% endcomment %}
<div class="row">
<div class="col-md-12">
<div class="card">
<div class="">
<div class=""> <!-- bg-light = light gray background -->
<div class="card-body">
<div class="d-flex gap-2">
<div class="d-flex justify-content-between" style="width:95%">
  <!-- Left Search Box -->
  <div class="input-group" style="width:300px">
    <input type="text" class="form-control" placeholder="Search here..." aria-label="Search">
    <button class="btn btn-primary" type="button">Search</button>
  </div>

 
</div>
</div>
</div>
<div class="table-responsive">
<table
id="basic-datatables"
class="display table table-bordered table-sm table-striped align-middle table-hover text-center"
>
<thead style="padding: 13px 9px !important">
<tr>
<th style="padding: 13px 9px !important">
<input type="checkbox" />
</th>
<th style="padding: 13px 9px !important">
PO Number
</th>
<th style="padding: 13px 9px !important">Date</th>
<th style="padding: 13px 9px !important">
Supplier Code
</th>
<th style="padding: 13px 9px !important">
Supplier Name
</th>
<th style="padding: 13px 9px !important">Basic</th>
<th style="padding: 13px 9px !important">Tax</th>
<th style="padding: 13px 9px !important">Total</th>
<th style="padding: 13px 9px !important">City</th>

<th style="padding: 13px 9px !important">Action</th>
</tr>
</thead>
<tbody>
<tr>
<td style="padding: 0px !important">
<input type="checkbox" />
</td>
<td>
<a
href="#"
data-bs-toggle="modal"
data-bs-target="#myModalpurchasreturn"
>
POS2345</a
>
</td>
<td>12/08/2025</td>
<td>SUP0012</td>
<td>Jhon king</td>
<td>8000</td>
<td>6</td>
<td>70000</td>
<td>Chennai</td>
<td>
<div class="form-button-action">
<button
type="button"
data-bs-toggle="tooltip"
title=""
class="btn btn-link btn-primary btn-lg"
data-original-title="Edit Task"
>
<i class="fa fa-edit"></i>
</button>
<button
type="button"
data-bs-toggle="modal"
data-bs-target="#myModaldelete"
title=""
class="btn btn-link btn-danger"
data-original-title="Remove"
>
<i class="fa fa-times"></i>
</button>
</div>
</td>
</tr>
<tr>
<td style="padding: 0px !important">
<input type="checkbox" />
</td>
<td>
POS2345
</td>
<td>12/08/2025</td>
<td>SUP0012</td>
<td>Jhon king</td>
<td>8000</td>
<td>6</td>
<td>70000</td>
<td>Chennai</td>
<td>
<div class="form-button-action">
<button
type="button"
data-bs-toggle="tooltip"
title=""
class="btn btn-link btn-primary btn-lg"
data-original-title="Edit Task"
>
<i class="fa fa-edit"></i>
</button>
<button
type="button"
data-bs-toggle="tooltip"
title=""
class="btn btn-link btn-danger"
data-original-title="Remove"
>
<i class="fa fa-times"></i>
</button>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>

<!--  Delete The Modal start -->

<div class="modal fade" id="myModaldelete">
<div class="modal-dialog">
<div class="modal-content">
<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title"></h4>
<button
type="button"
class="btn-close"
data-bs-dismiss="modal"
></button>
</div>
<!-- Modal body -->
<div class="modal-body">
<div class="container" style="text-align: center">
<h2>Delete Confirmation</h2>
<br />
<p>Are you sure you want to delete this Estimate account?</p>
</div>
</div>
<!-- Modal footer -->
<div
class="modal-footer"
style="display: inline; text-align: center"
>
<button
type="button"
class="btn btn-success"
data-bs-dismiss="modal"
>
Yes
</button>
<button
type="button"
class="btn btn-danger"
data-bs-dismiss="modal"
>
No
</button>
</div>
</div>
</div>
</div>
<!--  Delete Modal end -->

<!--  esitimate view  Modal start -->

<div class="modal fade" id="myModalpurchasreturn">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">Purchase Return</h4>
<button
type="button"
class="btn-close"
data-bs-dismiss="modal"
></button>
</div>
<!-- Modal body -->
<div class="modal-body">
<!--main content-->
<div class="row">
<div class="col-md-12">
<div class="card">
<div class="card-body">
<div class="row">
<div class="col-md-4">
<div class="form-group">
<label for="text">Purchase Order No</label>
<input
type="text"
class="form-control"
id="Mobile"
/>
</div>
</div>
<div class="col-md-4">
<div class="form-group">
<label for="number">Document Number</label>
<input
type="text"
class="form-control"
id="text"
/>
</div>
</div>
<div class="col-md-4">
<div class="form-group">
<label for="number">Date</label>
<input
type="text"
class="form-control"
id="text"
/>
</div>
</div>
<div class="col-md-4">
<div class="form-group">
<label for="number">warehouse</label>
<input
type="text"
class="form-control"
id="text"
/>
</div>
</div>
<div class="col-md-4">
<div class="form-group">
<label for="email2">Created By</label>
<input
type="email"
class="form-control"
id="email2"
/>
</div>
</div>

<div class="col-md-4">
<div class="form-group">
<label for="text">Valid Till</label>
<input
type="text"
class="form-control"
id="text"
placeholder=""
/>
</div>
</div>
<div class="col-md-4">
<div class="form-group">
<label for="text">Ref Number</label>
<input
type="text"
class="form-control"
id="text"
placeholder=""
/>
</div>
</div>
</div>

<div class="row mb-3">
<div class="col-md-6 ps-4">
<div class="mb-3 row">
<h6 class="mb-3 mt-3"><b>Bill To</b></h6>
<label for="text" class="col-md-4 col-form-label"
>Suplier Code</label
>
<div class="col-md-8">
<input
type="text"
class="form-control"
id="text"
name="text"
/>
</div>
</div>
<div class="mb-3 row">
<label for="text" class="col-md-4 col-form-label"
>Suplier  Name</label
>
<div class="col-md-8">
<input
type="text"
class="form-control"
id="text"
name="text"
/>
</div>
</div>
<div class="mb-3 row">
<label for="text" class="col-md-4 col-form-label"
>Address 1</label
>
<div class="col-md-8">
<input
type="text"
class="form-control"
id="text"
name="text"
/>
</div>
</div>
<div class="mb-3 row">
<label for="text" class="col-md-4 col-form-label"
>Address 2</label
>
<div class="col-md-8">
<input
type="text"
class="form-control"
id="text"
name="text"
/>
</div>
</div>
<div class="mb-3 row">
<label for="text" class="col-md-4 col-form-label"
>City</label
>
<div class="col-md-8">
<input
type="text"
class="form-control"
id="text"
name="text"
/>
</div>
</div>
<div class="mb-3 row">
<label
for="exampleFormControlSelect1"
class="col-md-4 col-form-label"
>State</label
>
<div class="col-md-8">
<select
class="form-select"
id="exampleFormControlSelect1"
>
<option>select State</option>
<option></option>
</select>
</div>
</div>  <div class="mb-3 row">
<label for="text" class="col-md-4 col-form-label"
>Pin Code</label
>
<div class="col-md-8">
<input
type="text"
class="form-control"
id="text"
name="text"
/>
</div>
</div>
</div>


<div class="col-md-6">
<div class="mb-3 row">
<h6 class="mb-3 mt-0"><b>Ship To</b><input type="checkbox" class="mt-3"  style="transform: scale(1.5);margin-left: 35px;"></h6></h6>
<div class="col-md-8">
<input type="text" class="form-control" />
</div>
</div>
<div class="mb-3 row">
<div class="col-md-8">
<input type="text" class="form-control" />
</div>
</div>
<div class="mb-3 row">
<div class="col-md-8">
<input type="text" class="form-control" />
</div>
</div>
<div class="mb-3 row">
<div class="col-md-8">
<input type="text" class="form-control" />
</div>
</div>
<div class="mb-3 row">
<div class="col-md-8">
<input type="text" class="form-control" />
</div>
</div>
<div class="mb-3 row">
<div class="col-md-8">
<select class="form-select">
<option>Select State</option>
<option>State 1</option>
<option>State 2</option>
</select>
</div>
</div>  

<div class="mb-3 row">
<div class="col-md-8">
<input type="text" class="form-control" />
</div>
</div>
</div>
</div>

<div class="row mb-3">
<div class="col-12">
<div class="table-responsive">
<table class="table table-bordered text-center">
<thead style="padding: 13px 9px !important">
<tr>
<th style="padding: 13px 9px !important">
S.NO
</th>
<th style="padding: 13px 9px !important">
                                Material&nbsp;Code
                              </th>
<th style="padding: 13px 9px !important">
Material&nbsp;Name
</th>

<th style="padding: 13px 9px !important">
QUANTITY
</th>

<th style="padding: 13px 9px !important">
Rate
</th>

<th style="padding: 13px 9px !important">
MRP
</th>

<th style="padding: 13px 9px !important">
DISCOUNT
</th>
<th style="padding: 13px 9px !important">
TAX
</th>
<th style="padding: 13px 9px !important">
AMOUNT
</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>
<input type="text" class="form-control" />
</td>
<td>
<input type="text" class="form-control" />
</td>
<td>
<input type="text" class="form-control" />
</td>
<td>
<input type="text" class="form-control" />
</td>
<td>
<input
type="number"
class="form-control"
/>
</td>
<td>
<input
type="number"
class="form-control"
/>
</td>
<td>
<input type="text" class="form-control" />
</td>
<td class="d-flex align-items-center">
<input
type="text"
class="form-control me-2"
/>
<button
type="button"
data-bs-toggle="tooltip"
title=""
class="btn btn-link btn-danger"
data-original-title="Remove"
>
<i class="fa fa-times"></i>
</button>
</td>
</tr>
</tbody>
</table>
</div>
<button class="btn btn-sm btn-primary">
+ Add Row
</button>
</div>
</div>

<div class="row mt-5">
<div class="col-12 col-md-6 col-lg-4 mt-5">
<label class="form-label pb-3">Description</label>
<textarea
class="form-control"
rows="4"
placeholder="Enter Description"
></textarea>
</div>
<div class="col-8 mt-3">
<div class="d-flex justify-content-end">
<div class="me-0">
<div
class="d-flex align-items-center mb-2"
style="justify-content: flex-end"
>
<label class="me-2" style="width: 100px"
>Taxable Amount</label
>
<div class="input-group" style="width: 45%">
<span class="input-group-text">₹</span>
<input
type="text"
class="form-control"
placeholder=""
/>
</div>
</div>

<div
class="d-flex align-items-center mb-2"
style="justify-content: flex-end"
>
<label class="me-2" style="width: 100px"
>SGST</label
>
<div class="input-group" style="width: 46%">
<span class="input-group-text">%</span>
<input
type="text"
class="form-control"
placeholder=""
/>
</div>
</div>
<div
class="d-flex align-items-center mb-2"
style="justify-content: flex-end"
>
<label class="me-2" style="width: 100px"
>CGST</label
>
<div class="input-group" style="width: 46%">
<span class="input-group-text">%</span>
<input
type="text"
class="form-control"
placeholder=""
/>
</div>
</div>
<div
class="d-flex align-items-center mb-2"
style="justify-content: flex-end"
>
<label class="me-2" style="width: 100px"
>IGST</label
>
<div class="input-group" style="width: 46%">
<span class="input-group-text">%</span>
<input
type="text"
class="form-control"
placeholder=""
/>
</div>
</div>
<div
class="d-flex align-items-center mb-2"
style="justify-content: flex-end"
>
<label class="me-2" style="width: 100px"
>Cess</label
>
<div class="input-group" style="width: 46%">
<span class="input-group-text">%</span>
<input
type="text"
class="form-control"
placeholder=""
/>
</div>
</div>
<div
class="d-flex align-items-center mb-2"
style="justify-content: flex-end"
>
<label class="me-2" style="width: 100px"
>Round Off</label
>
<div class="input-group" style="width: 46%">
<span class="input-group-text">₹</span>
<input
type="text"
class="form-control"
placeholder=""
/>
</div>
</div>
<div
class="d-flex align-items-center mb-2"
style="justify-content: flex-end"
>
<label class="me-2" style="width: 100px"
><b>Grand Total</b></label
>
<div class="input-group" style="width: 46%">
<span class="input-group-text">₹</span>
<input
type="text"
class="form-control"
placeholder=""
/>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="col-12">
<label class="form-label pb-4"
>Terms & Conditionion</label
>
<table class="table table-bordered table-sm">
<thead>
<tr></tr>
</thead>
<tbody>
<tr>
<td
style="
padding: 0px !important;
text-align: center;
"
>
<input type="checkbox" />
</td>
<td>
<input
type="text"
class="form-control"
placeholder=""
/>
</td>
</tr>
<tr>
<td
style="
padding: 0px !important;
text-align: center;
"
>
<input type="checkbox" />
</td>
<td>
<input
type="text"
class="form-control"
placeholder=""
/>
</td>
</tr>
<tr>
<td
style="
padding: 0px !important;
text-align: center;
"
>
<input type="checkbox" />
</td>
<td>
<input
type="text"
class="form-control"
placeholder=""
/>
</td>
</tr>
<tr>
<td
style="
padding: 0px !important;
text-align: center;
"
>
<input type="checkbox" />
</td>
<td>
<input
type="text"
class="form-control"
placeholder=""
/>
</td>
</tr>
<tr>
<td
style="
padding: 0px !important;
text-align: center;
"
>
<input type="checkbox" />
</td>
<td>
<input
type="text"
class="form-control"
placeholder=""
/>
</td>
</tr>
<tr>
<td
style="
padding: 0px !important;
text-align: center;
"
>
<input type="checkbox" />
</td>
<td>
<input
type="text"
class="form-control"
placeholder=""
/>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>

<!-- Modal footer -->
 <div class="modal-footer text-end">
    <button
    type="button"
    class="btn btn-danger"
    data-bs-dismiss="modal"
    >
    Close
    </button>
    </div>
</div>
</div>
</div>
</div>
</div>


<!-- ======================table end main content======================== -->

<!-- ====================footer start========================= -->

{% include "./includes/footer.html" %}
</div>
<!-- custom template setting -->
{% include "./includes/template_setting.html" %}
</div>

{% endblock %}
