{% extends './base.html' %}
 {% load static %} 
 {% block content %}
<div class="wrapper">
  <!-- Sidebar -->
  {% include "./includes/sidebar.html" %}

  <div class="main-panel">
    <div class="main-header" style="background: content-box !important">
      <div class="main-header-logo">
        <!-- navbar -->
        {% include "./includes/navbar.html" %}
      </div>

      <!--main content-->
      <div class="container">
        <div class="row">
          <div class="">
            <h3 class="fw-bold ms-3 ps-3 mb-4 mt-3">User</h3>
            <div class="page-header mb-0">
              <div class="col-md-9 col-sm-8">
                <ul class="breadcrumbs mb-2">
                  <li class="nav-home">
                    <a href="{%url 'ajserp:dashboard'%}">
                      <i class="icon-home"></i>
                    </a>
                  </li>
                  <li class="separator">
                    <i class="icon-arrow-right"></i>
                  </li>
                  <li class="nav-item">
                    <a href="#">User</a>
                  </li>
                  <li class="separator">
                    <i class="icon-arrow-right"></i>
                  </li>
                  <li class="nav-item">
                    <a href="#">Add User</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3 text-end">
<p class="demo">
<button
                  class="btn btn-md btn-primary mt-4"
                  data-bs-toggle="modal"
                  data-bs-target="#addUserModal"
                >
                  Add User
                </button>
</p>
            </div>
          </div>
        </div>
      </div>

        <!-- =================================Warehouse table start======================== -->

        <div class="container-fluid mt-4">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body" style="padding: 1.25rem">
                {% comment %} <div class="col-md-2 offset-md-10">
                  <input
                    class="form-control form-control-sm mb-3"
                    id="tableSearch"
                    type="text"
                    placeholder="Search..."
                  />
                </div> {% endcomment %}
                 <div class="d-flex gap-2">
                                <div
                                      class="d-flex justify-content-between"
                                      style="width: 95%"
                                    >
                <div
                                        class="input-group"
                                        style="width: 300px"
                                      >
                                        <input
                                          type="text"
                                          class="form-control"
                                          placeholder="Search here..."
                                          aria-label="Search"
                                        />
                                        <button
                                          class="btn btn-primary"
                                          type="button"
                                        >
                                          Search
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                {% comment %} ============================table
                start============ {% endcomment %}
                <div class="table-responsive">
                  <table
                  id="basic-datatables"
                    class="table table-bordered table-sm table-striped align-middle table-hover text-center" style="border: 1px solid #d2caca;"
                  >
                    <thead style="padding: 13px 9px !important">
                      <tr>
                        <th>
                          <input type="checkbox" id="selectAll"/>
                        </th>
                        <th style="padding: 13px 9px !important">Name</th>
                        <th style="padding: 13px 9px !important">
                          Designation
                        </th>
                        <th style="padding: 13px 9px !important">Role</th>
                        <th style="padding: 13px 9px !important">Department</th>
                        <th style="padding: 13px 9px !important">Location</th>
                        <th style="padding: 13px 9px !important">Report To</th>
                        <th style="padding: 13px 9px !important">Operating</th>
                        <th style="padding: 13px 9px !important">Mobile</th>
                        <th style="padding: 13px 9px !important">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    
        
      <!-- ======================table end main content======================== -->

      <!-- ====================footer start========================= -->

      {% include "./includes/footer.html" %}
    </div>

    <!-- custom template setting -->
    {% include "./includes/template_setting.html" %}
  </div>
</div>

  {% endblock%}
